<div class="content" style="margin-top: 40px;">
  <div
    style="
      width: 100%;
      text-align: center;
    "
  >
    <h1>Profile</h1>
  </div>
  <div class="formWrapper">
    <div
    style="
      width: 100%;
      text-align: center;
    "
    >
      <span>Update your profile</span>
    </div>
    <br>
    <form id="info" onsubmit="event.preventDefault(); return updateUserInfo()">
      <div class="formError"></div>
      <div class="inputWrapper">
        <div class="inputLabel">Username</div>
        <input disabled id="usernameInput" type="text" name="username"/>
        </p>
      </div>
      <div class="inputWrapper">
        <div class="inputLabel">Full Name</div>
        <input id="fullnameInput" type="text" name="fullname" placeholder="Please enter your full name"/>
        <p id="fullnameError" style="display: none" class="errorText">
        </p>
      </div>
      <div class="inputWrapper">
        <div class="inputLabel">Email</div>
        <input id="emailInput" type="email" name="email" placeholder="Please enter an email"/>
        <p id="emailError" style="display: none" class="errorText">
        </p>
      </div>
      <div class="inputWrapper">
        <div class="inputLabel">Address</div>
        <input id="addressInput" type="text" name="address" placeholder="Please enter your address"/>
        <p id="addressError" style="display: none" class="errorText">
        </p>
      </div>
      <div class="inputWrapper">
        <button id="updateInfo" type="submit" class="button">
          <div id="spinnerInfo" class="spinner small ligth"></div>
          Update
        </button>
      </div>
    </form>
    <div class="formDecoration">
    </div>
    
  </div>
  <div class="formWrapper">
    <div
    style="
      width: 100%;
      text-align: center;
    "
    >
      <span>Update your password</span>
    </div>
    <br>
    <form id="passwordForm" onsubmit="event.preventDefault();return updateUserPwd()">
      <div class="formError"></div>
      <div class="inputWrapper">
        <div class="inputLabel">Password</div>
        <input required id="passwordInput" type="password" name="password" placeholder="Please enter a new password" />
        <p id="passwordError" style="display: none" class="errorText">
        </p>
      </div>
      <div class="inputWrapper">
        <div class="inputLabel">Confirm password</div>
        <input required id="cfrmpasswordInput" type="password" name="cfrmpasswordInput" placeholder="Please enter again your password"/>
        <p id="cfrmpasswordError" style="display: none" class="errorText">
        </p>
      </div>
      <div class="inputWrapper">
        <button id="updatePassword" type="submit" class="button">
          <div id="spinnerPassword" class="spinner small ligth"></div>
          Update
        </button>
      </div>
    </form>
    <div class="formDecoration">
    </div>
  </div>
</div>
<link rel="stylesheet" href="/styles/form.css">
<script src="/scripts/profile.js"></script>
